@model WebApplication2.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User Details</title>
</head>

<body>
    <h2 class="text-3xl font-semibold text-center mb-6">All User Details</h2>
    <table class="min-w-full border border-gray-300 shadow-lg">
        <thead class="bg-blue-500 text-white">
            <tr class="px-6 py-3 text-left">
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            @foreach (var user in Model.Users)
            {
                <tr class="border-t hover:bg-gray-100">
                    <td class="px-6 py-3 text-center">@user.Id</td>
                    <td class="px-6 py-3">@user.Name</td>
                    <td class="px-6 py-3">@user.Surname</td>
                    <td class="px-6 py-3">@user.Age</td>
                    <td class="px-6 py-3">@user.Image</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
