@model WebApplication2.Models.UserViewModel

@{
    Layout = null;
}

<h2>All User Details</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Age</td>
                <td>@user.Image</td>
            </tr>
        }
    </tbody>
</table>
